__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec
recordings/
models/
*.log
*.zip
settings.json
vm_settings.json
monitor.log
cs/VoiceMonitor/obj/
cs/VoiceMonitor/bin/
cs/VoiceMonitor/*.csproj.user
